nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 10vw;
    min-height: 88px;

    .nav-left {
        display: flex;
        align-items: center;
        gap: 4rem;

        .mobile-list {
            display: none;
        }

        .desktop-list {

            display: flex;
            align-items: center;
            list-style-type: none;
            color: $DarkGrayishBlue;
            gap: 1rem;

            li {
                position: relative;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: orange;
                    height: 3px;
                    width: 100%;
                    bottom: -1.5rem;
                    left: 0px;
                    transform: scaleX(0);
                    transition: 0.5s;


                }

                &:hover {
                    &::after {
                        display: block;
                        transform: scaleX(1);
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;

        .avatar {
            height: 2.5rem;
            width: 2.5rem;
        }

        .cart {
            cursor: pointer;
        }
    }
        .cart-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            background-color: white;
            height: 15vw;
            width: 20vw;
            right: -40vw;
            bottom: -16vw;
            border-radius: 10px;
            padding: 1vw;
            transition: 0.5s;
            box-shadow: 0px 30px 30px rgba($color: #000000, $alpha: 0.2);

            h1 {
                font-size: 1rem;
            }

            .addToCart {
                #store {
                    text-align: center;
                    color: $DarkGrayishBlue;
                    font-weight: 700;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    #command {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        img {
                            height: 3rem;
                            width: 3rem;
                            border-radius: 5px;
                        }

                        #div1 {
                            display: flex;
                            flex-direction: column;

                            h1 {
                                font-size: 0.9rem;
                                font-weight: 400;
                            }

                            #div2 {
                                display: flex;
                                font-weight: 400;
                                font-size: 0.9rem;

                                span {
                                    margin-left: 5px;
                                    font-weight: 700;
                                    color: $Black;
                                }
                            }

                        }

                        #delete {
                            height: 1rem;
                            width: 1rem;
                        }

                    }
                }
            }

            button {
                width: 100%;
                padding: 1rem;
                border-radius: 10px;
                border: none;
                background-color: $Orange;
                color: white;
                font-weight: 700;
            }

        }

        .cart-clicked {
            right: -3vw;
            bottom: -16vw;
            transition: 0.5s;

        }
    }


@media(max-width:640px) {
    * {
        
        margin: 0px;
        padding: 0px;
    }

    nav {
        padding-inline: 5px;
        .nav-left {
            gap: 0.5rem; 
            .desktop-list {
                display: none;
            }
            
             .bars {
                display: flex;
                flex-direction: column;
                gap: 3px;  
                transition: 1s;
                .bar {
                    transition: 1s;
                    background-color: $DarkGrayishBlue;
                    height: 3px;
                    width: 1rem;
                }
            }
        
          
            .mobile-list {
                display:flex;
                flex-direction: column;
                position: absolute;
                background-color: white;
                height: 100%;
                top: 12vh;
                left: -40rem;
                width:60%;
                gap: 2rem;
                transition: 1s;
                z-index: 9999;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                }
                }
                .mobile-list.show{
                    transition: 1s;
                    left: 0px;
                }
                   
                .bars.clicked{
                    transition: 1s;
                    padding: 1rem;
                #bar1 { 
                    transition: 1s;
                    position: absolute;
                    transform: rotate(45deg);
                    
                }

                #bar2 {
                    display: none;
                }

                #bar3 {
                    transition: 1s;
                    position: absolute;
                  
                    transform: rotate(-45deg);

                }
            }

            }

        .cart-container{
            width: 90%;
            height: 50%;
            top: 22vh;
            left: -30rem;
            transition: 1s;
        } 
         .cart-clicked{ 
                
                left: 1rem;
                transition: 1s;
              
            }

    } }

