nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 10vw;
    min-height: 88px;
    .nav-left{
        display: flex;
        align-items: center;
        gap: 4rem;
        ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            color: $DarkGrayishBlue;
            gap :1rem;
        }
    }
    .nav-right {
        background-color: white;
        display: flex;
        align-items: center;
        gap: 2rem;
        .avatar{
            height: 2.5rem;
            width: 2.5rem;
        }
    }

}