.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;
    padding-inline: 15vw;
    min-height: calc(100vh - 88px);
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
        width: 50%;
        padding: 3rem;

        .main-image {
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
        }

        .image-list {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
            img {
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
              
            }

            .hide {
                opacity: 0.6;
            }

        }


    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 50%;
        
        
        h1 {
            color: $Orange;
            font-size: 0.8rem;
            font-weight: 700;
        }

        h2 {
            width: 100%;
            font-size: 2.5rem;
        }

        p {
            line-height: 1.5rem;
            font-size: 1rem;
            color: $DarkGrayishBlue;

        }

        .price-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            .price {
                font-weight: 700;
                font-size: 1.2rem;
            }

            .percent {
                background-color: $Paleorange;
                color: $Orange;
                font-size: 0.7rem;
                font-weight: 700;
            }
        }

        .right-bottom {
            display: flex;
            align-items: center;
            gap: 1vw;
            .container{
                display: flex;
                align-items: center;
                gap: 2.5rem;
                padding: 1rem;
                border-radius: 10px;
                background-color: $LightgrayishBlue;

    
                span{
                font-weight: 700;
            }
            img{
                cursor: pointer;
            }}
            .add {
                display: flex;
                align-items: center;
                background-color: $Orange;
                padding: 1rem 3rem;
                gap: 1rem;
                border-radius: 10px;
                cursor: pointer;

                span {
                    font-size: 1rem;
                    font-weight: 700;
                    color: white;
                }
            }
        }
    }

}

    

@import"./popup";